.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tokenInfoContainer {
    display: flex;
    flex-direction: row;
}

.tokenLogoContainer {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tokenImage {
    border-radius: 100%;
}

.tokenDataContainer {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    background-color: red;
}

.tokenNameContainer {
    color: #000;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: yellow;
}

.tokenHoldingContainer {
    font-size: 0.85rem;
    color: #000;
    font-weight: regular;
    background-color: green;
}

.tokenValueContainer {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    color: #000;
}

