.receivePageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
}

.receiveHeaderContainer {
    display: flex;
    justify-content: space-between;
}

.backButtonContainer {
    cursor: pointer;
    color: #FFFEFA;
}

.receiveTitleContainer {
    color: #FFFEFA;
    font-size: 2rem;
}

.dummyContainer {
    color: #FFFEFA;
}