.receivePageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
}

.receiveHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.backButtonContainer {
    cursor: pointer;
    color: #481801;
    font-size: 1.25rem;
    margin: 0.25rem;
}

.receiveTitleContainer {
    color: #481801;
    font-size: 1.5rem;
}

.dummyContainer {
    color: #FFFEFA;
    font-size: 1.25rem;
    cursor: default;
}