.transactionStatusMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  margin: 0;
  box-sizing: border-box;
}

.transactionStatusTypeImageContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 4rem;
}

.successImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(61, 227, 131, 0.5);
  border: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  color: rgba(26, 128, 68);
  padding: 1rem;
}

.unconfirmedImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(227, 202, 61, 0.5);
  border: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  color: rgb(171, 130, 24);
  padding: 1rem;
}

.failureImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(227, 61, 61, 0.5);
  border: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  color: rgb(128, 26, 26);
  padding: 1rem;
}

.transactionStatusLabelContainer {
  font-size: 1.25rem;
  color: #481801;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.transactionSignatureViewContainer {
  font-size: 0.9rem;
  color: rgba(72, 24, 0, 0.65);
  font-weight: 400;
}

.explorerLink {
  font-size: 0.9rem;
  color: rgba(72, 24, 0, 0.65);
  font-weight: 400;
}

.closeButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9d00;
  margin-top: 3rem;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease;
  padding: 1rem;
  color: #481801;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  box-sizing: border-box;
  cursor: pointer;
}

.closeButtonContainer:active {
  transform: scale(0.95);
}
