.swapPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  padding-top: 1rem;
  box-sizing: border-box;
  background-color: yellow;
}

.swapComponentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.swapFormContainer {
  width: 100%;
  background-color: red;
  height: 100px;
}

.swapInputContainer {
  width: 100%;
  background-color: green;
  height: 100px;
}

