.swapPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  padding-top: 1rem;
  box-sizing: border-box;
  justify-content: center;
}

.swapComponentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 90vh;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  box-sizing: border-box;
}

.swapFormContainer {
  width: 100%;
  height: 100px;
}

.swapInputContainer {
  width: 100%;
}

.numKeypadContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  color: #481801;
}

.numKeyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 2rem;
  width: 33%
}

.numKeyContainer:active,
.numKeyContainer:focus,
.numKeyContainer:hover
 {
  outline: none;
  background-color: inherit;
  color: inherit;
}

.swapButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #ff9d00;
  color: #481801;
}

.loader {
  border: 4px solid #481801;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  /* margin-top: 1rem; */
  animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
