.container {
    width: 100%;
    height: 100%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    background-color: yellow;
}

.overviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: green;
}

.tokensContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: red;
}