.mainTransactionConfirmationContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
  }
  
.transactionConfirmationBodyContainer {
  display: flex;
  margin-top: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.actionTargetMainContainer {
  display: flex;
  justify-content: left;
}

.actionTargetLogoContainer {
  display: flex;
}

.actionTargetLogo {
  border: none;
  border-radius: 100%;
}

.actionTargetContainer {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #481801;
}

.sendDetailsContainer {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background-color: #f2f1e5;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.keyValueContainer {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #481801;
}

.valueContainer {
  font-weight: 600;
}

.actionButtonsContainer {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.rejectButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f1e5;
  margin-top: 3rem;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease;
  padding: 1rem;
  color: #481801;
  width: 180px;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  box-sizing: border-box;
  cursor: pointer;
}

.approveButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9d00;
  margin-top: 3rem;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease;
  padding: 1rem;
  color: #481801;
  width: 180px;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  box-sizing: border-box;
  cursor: pointer;
}


.rejectButtonContainer:active {
  transform: scale(0.95);
}

.approveButtonContainer:active {
  transform: scale(0.95);
}


.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 4px solid #481801;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 1rem;
  animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
