.mainTransactionConfirmationContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
  }
  
.transactionConfirmationBodyContainer {
  display: flex;
  margin-top: 0.75rem;
  flex-direction: column;
}

.actionTargetMainContainer {
  display: flex;
}

.actionTargetLogoContainer {
  display: flex;
  width: 100%;
}

.actionTargetLogo {
  border: none;
  border-radius: 100%;
}

.actionTargetContainer {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.sendDetailsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f1e5;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.keyValueContainer {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #481801;
}

.valueContainer {
  font-weight: 600;
}

.actionButtonsContainer {
  width: 100%;
  display: flex;
}

.rejectButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f1e5;
  margin-top: 3rem;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease;
  padding: 1rem;
  color: #481801;
  width: 256px;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  box-sizing: border-box;
  cursor: pointer;
}

.approveButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9d00;
  margin-top: 3rem;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease;
  padding: 1rem;
  color: #481801;
  width: 256px;
  border: none;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  box-sizing: border-box;
  cursor: pointer;
}


.rejectButtonContainer:active {
  transform: scale(0.95);
}

.approveButtonContainer:active {
  transform: scale(0.95);
}

