.mainHistoryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    padding: 1.5rem;
    padding-top: 1rem;
    box-sizing: border-box;
    justify-content: center;
    overflow-y: scroll;
}

.txHistoryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 82vh;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    box-sizing: border-box;
}

.txHistory {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.tokenImage {
    border: none;
    border-radius: 100%;
  }