.standardHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.backButtonContainer {
  cursor: pointer;
  color: #481801;
  font-size: 1.5rem;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease;
}

.dummyContainer {
  color: #fffefa;
  font-size: 1.5rem;
  cursor: default;
}

.backButtonContainer:active {
  transform: scale(0.95); /* Slight scale down to indicate press */
}

.titleContainer {
  color: #481801;
  font-size: 1.5rem;
}
